In [2]:
import pandas as pd
import numpy as np

In [70]:
# Import and Clean

df = pd.read_excel("LRH Q22021 coc.xlsm",header=13)
df = df.filter(df.columns[2:]).copy(deep=True)

df.columns = ['Date','Time','Source','Area','Floor','Type','Location','Taken_By','Temp','FRO','TRO','Legionella','Avery']

def clean_nan(x):
    if x == '':
        return np.nan
    else:
        return x

df['TRO'] = df['TRO'].map(clean_nan)

count = 0
for cell in df.Taken_By:
    if type(cell) != str:
        break
    count += 1

df = df.iloc[:][:count].copy(deep=True)

df.head()

,Date,Time,Source,Area,Floor,Type,Location,Taken_By,Temp,FRO,TRO,Legionella,Avery
0,2021-06-14,14:00:00,CW,MOB,1.0,Supply,Cooling Tower,KMC,78.0,0.04,NaN,0.0,1234.0
1,2021-06-14,14:00:00,CW,CP,1.0,CT,Cooling Tower,KMC,79.0,1.20,NaN,10.0,1235.0
2,2021-06-14,14:00:00,PWC,OLD,2.0,SNK,W241,KMC,72.0,NaN,0.8,1.0,1236.0
3,2021-06-14,14:00:00,PWC,NEW,1.0,SNK,CCU ROOM 1,KMC,69.0,NaN,1.4,0.0,1237.0
4,2021-06-14,14:00:00,PWC,NEW,2.0,SNK,254,KMC,70.0,NaN,1.2,0.0,1238.0

In [69]:
# Group by Source


uniques = list(df.Source.value_counts().index)
for unique_group in uniques:
    df_hot = df[df['Source'] == ]

,Date,Time,Source,Area,Floor,Type,Location,Taken_By,Temp,FRO,TRO,Legionella,Avery
0,2021-06-14,14:00:00,CW,MOB,1.0,Supply,Cooling Tower,KMC,78.0,0.04,NaN,0.0,1234.0
1,2021-06-14,14:00:00,CW,CP,1.0,CT,Cooling Tower,KMC,79.0,1.20,NaN,10.0,1235.0
2,2021-06-14,14:00:00,PWC,OLD,2.0,SNK,W241,KMC,72.0,NaN,0.8,1.0,1236.0
3,2021-06-14,14:00:00,PWC,NEW,1.0,SNK,CCU ROOM 1,KMC,69.0,NaN,1.4,0.0,1237.0
4,2021-06-14,14:00:00,PWC,NEW,2.0,SNK,254,KMC,70.0,NaN,1.2,0.0,1238.0

['PWH', 'PWC', 'CW', 'IC', 'CW ']